@font-face{
    src: URL(CaveatBrush-Regular.ttf);
    font-family: caveat;
}
*{
    box-sizing: border-box;
}
body{
    font-family: caveat;
    margin: 0px;
    padding: 0px;
    background-color: rgb(138, 138, 138);
}
header{
    background-color: rgb(3, 36, 120);
    padding: 0px;
}
header .title{
    color: white;
    font-weight: bold;
    font-style: italic;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 2em;
}
header .title::first-letter{
    font-size: 3.4em;
    font-style: italic;
    color: rgb(0, 0, 0);
}
header .title::selection{
    background-color: grey;
    color: white;
}
nav{
    background-color: rgb(75, 75, 75);
    margin: 0px;
    padding: 1px;
    position: sticky;
    top: 0px;
    left: 0px;
}
nav .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
nav li{
    padding: 1px;
}
nav a{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    transition: background-color 1s ease-in, border-radius 2s linear;
}
nav a:hover{
    background-color: rgb(180, 171, 171);
    border-radius: 10px;
}
nav a:active{
    background-color: rgb(180, 171, 171);
    border-radius: 10px;
}
.hero_section{
    background-image: url(binary.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 90px;
    padding-top: 0px;
    margin-top: 0px;
    position: relative;
}
.hero_section .hero_header1{
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2.3em;
}
.hero_section .hero_button{
    text-align: center;
    margin: 10px;
    
}
.hero_button button{
    background-color: blue;
    color: grey;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    animation: bounce1 2s ease infinite;
    transition: box-shadow 1s ease ;
}
button:hover{
    box-shadow: 0px 0px 50px white;
}
.hero_section .image{
    display: block;
    text-align: center;
}
.hero_section .images{
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    animation: bounce 2s ease-in infinite running;
    transition: width 2s ease-in;
}
.images:hover{
    box-shadow: 0px 0px 40px white;
    animation-play-state: paused;
     width: 350px;
}
img:active{
    box-shadow: 0px 0px 40px white;
}
.course_section_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.headline{
    display: block;
    text-align: center;
    text-shadow: 3px 3px 5px rgb(0, 170, 200), -3px -3px 5px rgb(39, 84, 88);
}
.course_content{
    margin: 10px;
    min-width: 300px;
    min-height: 200px;
    background-color: rgb(65, 65, 65);
    text-align: center;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0px 0px 30px rgba(115, 176, 192, 0.829);
}
.course_content h1::first-letter{
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
    color: rgb(75, 87, 95);
}
.course_content p::selection{
    background-color: rgb(1, 99, 125);
    color: rgb(38, 39, 39);
}
.course_content p::first-line{
    background-color: rgb(1, 99, 125);
    color: rgb(38, 39, 39);
}
.course_content img{
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 2s ease-in;
}
.course_content img:hover{
    width: 260px;
    box-shadow: 0px 0px 30px rgb(152, 250, 255);
    transform: scale(1.1);
}
article{
    background-color: rgb(67, 125, 169);
}
.about_section_container{
    display: flex;
    justify-content: center;
}
.about_section_container p{
    font-size: 1.7em;
    font-weight: bold;
}
.about_section_image{
    width: 250px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 30px white;
}
.about_section_image:hover{
    box-shadow: 0px 0px 30px rgb(0, 93, 160);
}
.registration_form_section{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}
.registration_form{
    border: 2px solid rgb(78, 120, 147);
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px rgb(62, 61, 61);
    text-align: center;
    padding: 10px;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(74, 74, 74);
    border-radius: 20px;
    transition: all 1s ease-in;
}
.registration_form:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 60px black;
}
.registration_form input{
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    font-family: caveat;
    font-style: italic;
    font-weight: bold;
}
.form_button{
    background-color: rgb(10, 153, 255);
    color: rgb(67, 67, 67);
    box-shadow: 0px 0px 20px rgb(37, 37, 132);
    margin: 10px;
    padding: 10px;
    animation: bounce1 1s ease-in infinite running;
}
.form_button:hover{
    background-color: rgb(8, 8, 119);
    color: white;
    box-shadow: 0px 0px 40px white;
}
footer{
    background-image: linear-gradient(
        rgb(62, 152, 182),
        rgb(63, 63, 63)
    );
    text-align: center;
    padding: 10px;

}
.hyperlink:hover{
    font-size: 1.2em;
}







@keyframes bounce1{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-10px);
    }
}
@keyframes bounce{
    20%{
        transform: scale(1.1);
    }
    40%{
        transform: scale(1.1);
        border-radius: 50%;

    }
    60%{
        transform: scale(1.1);
        border-radius: 50%;
        transform: rotateX(180deg);
    }
    80%{
        transform: scale(1.1);
        border-radius: 50%;
        transform: rotateY(180deg);
    }
    100%{
        transform: scale(1.1);
    }
}

@media screen and (min-width: 700px) and (max-width: 1340px){
 
.course_section_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}
.course_content{
    width: 300px;
}
}
@media screen and (max-width: 700px){
  
.course_section_container{
    flex-direction: column;
}
.hero_section{
    background-attachment: local;
}
.about_section_container{
    flex-direction: column-reverse;
    align-items: center;
}

.registration_form{
    padding: 7px;
    font-size: 1.5em;
}
.registration_form:hover{
    box-shadow: 0px 0px 60px black;
    transform: scale(1);
}
.registration_form input{
    padding: 4px 9px;
}
}